// @import "_base.scss";



$url:'../images';

$backgroundPng: (logo, no-repeat, center center, 100% auto),
(prev, no-repeat, center center, 40% auto),
(next, no-repeat, center center, 40% auto),
(footer, no-repeat, center center, 100% auto),
(home, no-repeat, center center, 0.2rem auto),
(mane, no-repeat, 2% center,auto 85% ),
(password, no-repeat, 2% center,auto 85% );

* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
@media (min-width: 372px){ 
    html{font-size:74%;}
} 
@media (min-width: 414px){
    html{font-size:75%;}
}
body {
    width: 100%;
    height: 100%;
    position: relative;
    height: 100%;
    top: 0 !important;
    font-family: 'Microsoft YaHei', "Microsoft JhengHei UI", "Microsoft JhengHei", Pmingliu, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", tahoma, arial, 'Hiragino Sans GB', "\5b8b\4f53", sans-serif;
}
a {
    color: inherit;
    text-decoration: none !important;
    cursor: pointer;
}
a:hover{
    color: inherit;
}
i{
    font-style: normal;
}
input {
    text-overflow: ellipsis;
    appearance: none;
    outline: 0;
}
.clear {
    *zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
// @for $i from 1 through 9{
//     .menu-btn#{$i}{
//         background: url(#{$url}/menu-btn.png) no-repeat;
//         background-size: 1.17rem auto;
//         background-position: -#{$i*0.127-0.127}rem center;
//     }
// }
//共用样式 @extend
.ico-ruod{
    height: 0.2083rem;
    width: 0.2083rem;
    border: none;
    float: left;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-filter: gray;
    filter: gray;
}
.ico-ruod.active{
    height: 0.2083rem;
    width: 0.2083rem;
    border: none;
    float: left;
    border-radius: 50%;
    -webkit-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-filter: gray;
    filter: gray;
}
.Gradual-change-y{
    color: #fff;
    text-align: center;
    background: linear-gradient(to bottom, #eab77f 0%, #eab77f 100%);
    background: -webkit-linear-gradient(to bottom,  #eab77f 0%, #eab77f 100%);
    background: -moz-linear-gradient(to bottom, #eab77f 0%, #eab77f 100%);
    background: -ms-linear-gradient(to bottom,  #eab77f 0%, #eab77f 100%);
    background: -o-linear-gradient(to bottom,  #eab77f 0%, #eab77f 100%);
}
.btn_block{
    background-color: #2a2a2a !important;
    color: #fff !important;
}
.btn_white{
    background-color: #fff !important;
    color: #000 !important;
}
// 谷歌翻译头部
.goog-te-banner-frame,#google_translate_element img{display: none;}
.goog-te-gadget-simple span:nth-of-type(2){display: none !important;}
// 首页
.main-header{
    border-bottom: 2px solid #f2c784;
    .navbar{
        border: none;
        .menu-item{
            a{
                width: max-content;
            }
            a.active{
                position: relative;
                border-radius: 0;
                &::before{
                    content: '';
                    width: 0; 
                    height: 0;
                    border-width: 10px;
                    border-style: solid;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    border-color: transparent transparent #e7bb7c transparent;
                }
            }
        }
    }
}
.home-banner-section{
    .banner1{
        background: url(../images/banner1.jpg)no-repeat center top;
        background-size:cover;padding: 80px 0;
    }
}
.hr-outsourcing-section.Outsourcing{
    .post-block-design1 {
        border: 1px solid #dadce7;
        h4 {
            color: #ac7e50;
        }
    }
    .swiper-slide a:hover{
        .post-block-design1{
            color:#fff;
            @extend .Gradual-change-y;
            h4{
                color: #fff;
            }
        }
    }
}
.hr-outsourcing-section.paddingB100{
    text-align: center;
    color: #fff;
    background: url(#{$url}/pngsection2.jpg)no-repeat center;
    background-size: cover;
    h2{
        color: #fff;
    }
    .swiper-slide a{
        .post-block-design1{
            background: rgba($color: #fff, $alpha: 0.3);
            color: #fff;
            h4 {
                color: #fff;
            }
        }
    }
}
.testimonials-section{
    .post-block-design1{
        border-right: 8px solid #d7dce3;
        border-bottom: 8px solid #d7dce3;
        .inner-content .icon img{
            width: 150px;
            height: 150px;
        }
    }
}
.team-block .flip-card-back{
    @extend .Gradual-change-y;
}
.right-message-div{
    .wechat .dropdown-btn{
        background: #1bd641;
        i{
            background: url(#{$url}/wechat.png)no-repeat center;
        }
    }
    .telegram .dropdown-btn{
        background: #468eb7;
        i{
            background: url(#{$url}/telegram.png)no-repeat center;
        }
    }
    .qq_icon .dropdown-btn{
        background: #303339;
        i{
            background: url(#{$url}/qq_icon.png)no-repeat center;
        }
    }
    .dropdown-btn{
        i{
            width:34px;
            height: 41px;
            display: block;
            background-size: 100% auto !important;
        }
    }
}
.our-team-section{
    .paddingLR90{
        .team-block{
            .img-div1{
                background-image: url(../images/uploads/Consultants_3168.jpg);
            }
            .img-div2{
                background-image: url(../images/uploads/Consultants_10455.jpg);
            }
            .img-div3{
                background-image: url(../images/uploads/Consultants_4017.jpg);
            }
            .img-div4{
                background-image: url(../images/uploads/Consultants_3948.jpg);
            }
        }
    }
}
.innner-page-banner-section{
    .content-div{
        .short-description{
            h3{
                color: #fff;
            }
        }
    }
}
.content-wrapper-banner{
    .page-title{
        padding: 3rem 0;
        h1{
            margin: 2rem 0;
            color: #a87743;
        }
        p{
            margin: 1rem auto;
            max-width: 90vw;
            font-size: 1.2rem;
        }
    }
    .Cascading-banner{
        text-align: left;
        max-width: 80vw;
        // min-width: 320px;
        .swiper-slide {
            background: #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            transition: 300ms;
            transform: scale(0.8);
          }
          .swiper-slide-active,.swiper-slide-duplicate-active{
            transform: scale(1);
          }
          .Cascading-text{
              padding: 1.8rem 1rem 1rem;
              border-radius: 8px;
              display: block;
              background-color: #eceff5;
              span{
                  line-height: 25px;
                  font-size:16px;
                  color: #000;
                  vertical-align:middle;
                  i.text-icon{
                      width: 24px;
                      height: 24px;
                      display: inline-block;
                      vertical-align:middle;
                      background: url(../images/text-left-icon.png) no-repeat center;
                      background-size: 100% auto;
                  }
                  i.text-icon.right{
                    background: url(../images/text-right-icon.png) no-repeat center;
                    background-size: 100% auto;
                }
              }
          }
          .warper-img{
              margin-top: 2rem;
              img{
                  width: 45px;
                  height: 45px;
                  margin-left: 5px;
              }
          }
    }
}
.about-contact-us-section{
    .max-width1250{
        text-align: center;
        .abous-title{
            margin: auto;
            max-width: 40vw;
            min-width: 320px;
            color:#a87743;
            padding-bottom: 50px;
        }
    }
    .Hr-funcitons{
        max-height: 38vh;
        padding: 60px 20px 40px;
        color: #fff;
        background: url(#{$url}/Hr-funcitons.png)no-repeat center;
        background-size: cover;
        .content-div{
            h2{
                color: #fff;
                text-shadow: 0 5px 5px #000;
            }
            .short-description{
                p{
                    margin: auto;
                    text-align: center;
                    max-width: 55vw;
                    min-width: 320px;
                }
            }
            .learn-more{
                border: 1px solid #fff;
                background-color: rgba($color: #fff, $alpha: 0.4);
            }
        }
    }
}
.container-fluid{
    background: url(#{$url}/container-fluid.jpg)no-repeat center;
    background-size: cover;
}
.blogspage-section{
    .content-div{
        margin-top: 20px;
        .post-item{
            margin-bottom: 25px;
            overflow: hidden;
            width: 100%;
            .post-header{
                float: left;
                max-width: 40%;
                margin-bottom: 20px;
                vertical-align: top;
                text-align: center;
                overflow: hidden;
                display: block;
                position: relative;
                z-index: 1;
            }
            .post-body.clearfix{
                padding-left: 50px;
                float: left;
                max-width: 60%;
                overflow: hidden;
                h2{
                    font-weight: 700;
                    line-height: 40px;
                    margin-bottom: 2rem;
                    a:hover{
                        color: #fad18a ;
                    }
                }
                p{
                    color: #747980;
                    line-height: 30px;
                    font-size: 16px;
                }
            }
        }
        .loading-more{
            text-align: center;
            padding: 40px 0;
            a.loade-btn{
                width: max-content;
                padding: 0.8rem 2rem;
                color: #000;
                display: block;
                margin: auto;
                background-color: #e1e2eb;
                border-radius: 5px;
            }
        }
    }
}
.workplace{
    width: 100%;
    margin: 40px 0;
    color: #fff;
    height: 100%;
    overflow: hidden;
    .left-images{
        width: 60%;
        height: 35rem;
        float: left;
        background: url(#{$url}/workplace.jpg) no-repeat center;
        background-size: cover;
    }
    .right-textbg{
        width: 40%;
        float: left;
        padding: 40px 30px;
        height: 35rem;
        background: url(#{$url}/TheSwissTown.jpg) no-repeat center;
        background-size: cover;
        h2{
            margin: 4rem 0;
            color: #ffd68e;
        }
        p{
            line-height: 2.6rem;
            font-size: 1.4rem;
            letter-spacing:1px;
        }
    }
}
.container-wrapper{
    width: 100%;
    margin-top: 50px;
    color: #000;
    padding: 40px 15px;
    background: url(#{$url}/content-from.jpg) no-repeat bottom;
    background-size:cover;
    .form-item{
        width:50%;
        margin: auto;
        overflow: hidden;
        p{color:#fff;font-size: 1.4rem;}
        .form-list{
            width:45%;
            float: left;
            margin: 10px 0;
            text-align: left;
            p{color: #494d53;font-size: 1.4rem;}
            input{
                width: 100%;
                height: 40px;
                line-height: 40px;
                padding: 0 10px;
                border: 1px solid #d2d2d2;
            }
            .btn-submit{
                text-align: center;
                padding: 1rem 2rem;
                color: #fff;
                width: 10rem;
                border: none;
                font-size: 1.6rem;
                border-radius: 0.3rem;
                background-color: #2a2a2a;
            }
        }
        .form-list:nth-child(odd){
            margin-right: 10%;
        }
        .form-list.problems{
            width: 100%;
            margin: 0;
            text-align: center;
            p{
                text-align: left;
            }
            textarea{
                width: 100%;
                padding: 10px;
                height: 12rem;
                resize: none;
                font-size: 1.4rem;
                border: 1px solid #d2d2d2;
            }
        }
        .Submission{
            width: 100%;
            p{
                text-align:left;
                color:#fff;
                text-shadow: 0 5px 5px #000;
            }
        }
        .form-list.btn-center{
            width: 100%;
            margin: 4rem 0;
            text-align: center;
        }
    }
}